<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lolcl.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="top.lolcl.entity.Category" >
    <id column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="CNAME" property="cname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, CNAME
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from TCATEGORY
    order by cid
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TCATEGORY
    where CID = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TCATEGORY
    where CID = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.lolcl.entity.Category" >
    insert into TCATEGORY (CID, CNAME)
    values (#{cid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.lolcl.entity.Category" >
    insert into TCATEGORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="cname != null" >
        CNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.lolcl.entity.Category" >
    update TCATEGORY
    <set >
      <if test="cname != null" >
        CNAME = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where CID = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.lolcl.entity.Category" >
    update TCATEGORY
    set CNAME = #{cname,jdbcType=VARCHAR}
    where CID = #{cid,jdbcType=VARCHAR}
  </update>
</mapper>